.projectsCarousel-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #f2f2f2;
    width: 90%;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img-container {
    width: 80%;
}

.img-container img {
    width: 100%;
    border-radius: 10px;
}

.project-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70%;
}

.project-info-container h1 {
    white-space: nowrap;
}

.project-stack {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.preview-button {
    display: flex;
    background: #7843E9;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: transform .3s;
    cursor: pointer;
    padding: 10px 20px;
    gap: 5px;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1rem;
}

.project-buttons {
    display: flex;
    gap: 5px;
}

@media (min-width: 900px) { 
    .carousel-container {
        flex-direction: row;
    }

    .img-container {
        width: 60%;
    }

    .project-info-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 10px;
        width: 40%;
    }

    .project-info-container p {
        text-align: start;
    }
}